.bg-gray-50{
    background: #F4F7FE;
}

.text-gray-900 {
    --tw-text-opacity: 1;
    color: rgb(27 37 89 / var(--tw-text-opacity));
}

.border-gray-300 {
    --tw-border-opacity: 1;
    border-color: #4413ED;
}



/* used for form modal background */
:where(.css-dev-only-do-not-override-2rgkd4).ant-modal .ant-modal-content {

    background-color: #F4F7FE;
    
}
:where(.css-dev-only-do-not-override-2rgkd4).ant-modal .ant-modal-title {
    
    background-color: #F4F7FE;
}

/* used for form modal ok and cancel button remove */
:where(.css-dev-only-do-not-override-2rgkd4).ant-modal .ant-modal-footer {
   display: none;
   background-color: red;
}
